.home-container {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    max-width: 100%;
    /* Ensure it doesn't overflow */
    box-sizing: border-box;
    /* Include padding and border in width */
}

.home-container h1 {
    color: #333;
    font-size: 36px;
}

.home-container p {
    color: #555;
    font-size: 18px;
}

@media (max-width: 1024px) {
    .home-container {
        padding: 20px;
        /* Reduce padding for smaller screens */
    }

    .home-container h1 {
        font-size: 28px;
        /* Adjust font size */
    }

    .home-container p {
        font-size: 16px;
    }
}

.about-project {
    margin-top: 30px;
    text-align: left;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-project h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.about-project p {
    color: #555;
    font-size: 16px;
}

.trending-content {
    margin-top: 30px;
    text-align: left;
}

.trending-content h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.trending-content ul {
    list-style: none;
    padding: 0;
}

.trending-content ul li {
    margin-bottom: 10px;
}

.trending-content ul li a {
    text-decoration: none;
    color: #0056b3;
}

.trending-content ul li a:hover {
    text-decoration: underline;
}